@model VmUserResetPass


<div class="container-fluid">
    <h2 class="mb-5">Users Password Reset</h2>
    <form class="w-50" asp-action="create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="@Model.Password" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="@Model.Password">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.CoPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" asp-for="@Model.CoPassword">
        </div>
        <button class="btn btn-primary mr-3" type="submit" onclick="return confirm('Are You Sure?')">Reset</button>
        <a asp-action="Index" class="text-danger">Go to Back</a>
    </form>
</div>

