


<main>
    <section id="banner">
        <div id="banner-content">
            <div id="banner-content-img-block">
                <img src="~/assets/img/logo-big-NEW.png" alt="" />
            </div>
            <h1>Senkadagala</h1>
            <p>A simple one page HTML layout.</p>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-item" id="about-img-block">
                        <img src="~/assets/img/big-mac.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-item">
                        <h2 class="text-center">What is Senkadagala?</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam aliquet dolor nec diam pharetra, eu sodales massa
                            euismod. Maecenas ut tellus sit amet lectus molestie dapibus.
                            Quisque fermentum rutrum felis, nec hendrerit diam mollis.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam aliquet dolor nec diam pharetra, eu sodales massa
                            euismod. Maecenas ut tellus sit amet lectus molestie dapibus.
                            Quisque fermentum rutrum felis, nec hendrerit diam mollis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="teams">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member text-center">
                        <div class="team-member-profile">
                            <img src="~/assets/img/user1.png" alt="" />
                        </div>
                        <h3>Member One</h3>
                        <h5>Awesome Designation</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam aliquet dolor nec diam pharetra, eu sodales massa
                            euismod. Maecenas ut tellus sit amet lectus molestie dapibus.
                            Quisque fermentum rutrum felis, nec hendrerit diam mollis
                            vitae. Integer sodales varius odio, vel pharetra ante rhoncus
                            vel. Phasellus quis urna rutrum, molestie purus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member text-center">
                        <div class="team-member-profile">
                            <img src="~/assets/img/user1.png" alt="" />
                        </div>
                        <h3>Member One</h3>
                        <h5>Awesome Designation</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam aliquet dolor nec diam pharetra, eu sodales massa
                            euismod. Maecenas ut tellus sit amet lectus molestie dapibus.
                            Quisque fermentum rutrum felis, nec hendrerit diam mollis
                            vitae. Integer sodales varius odio, vel pharetra ante rhoncus
                            vel. Phasellus quis urna rutrum, molestie purus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member text-center">
                        <div class="team-member-profile">
                            <img src="~/assets/img/user1.png" alt="" />
                        </div>
                        <h3>Member One</h3>
                        <h5>Awesome Designation</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam aliquet dolor nec diam pharetra, eu sodales massa
                            euismod. Maecenas ut tellus sit amet lectus molestie dapibus.
                            Quisque fermentum rutrum felis, nec hendrerit diam mollis
                            vitae. Integer sodales varius odio, vel pharetra ante rhoncus
                            vel. Phasellus quis urna rutrum, molestie purus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="text-center">
        <h2>Our Portfolio</h2>
        <p>things we do to prove ourselves!</p>
        <div class="row">
            <div class="col-6">
                <h5>Text</h5>
            </div>
            <div class="col-2">
                <h5>Text</h5>
            </div>
            <div class="col-2">
                <h5>Text</h5>
            </div>
            <div class="col-2">
                <h5>Text</h5>
            </div>
            <div class="col-2">
                <h5>Text</h5>
            </div>
            <div class="col-5">
                <h5>Text</h5>
            </div>
            <div class="col-5">
                <h5>Text</h5>
            </div>
        </div>
    </section>
</main>