@model TeamPosition

<div class="container-fluid">
    <h2 class="mb-5">Update Positon</h2>
    <form class="w-50" asp-action="create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="@Model.Name">
        </div>
        <input asp-for="@Model.Id" hidden />
        <button class="btn btn-primary mr-3" type="submit">Update</button>
        <a asp-action="Index" class="text-danger">Go to Back</a>
    </form>
</div>
